<h1>SF strategijos</h1>
<p>
	<%= link_to "SF Timing strategija", { :controller => "strategies", "action" => "timing"} %>
</p>
<p>
	<%= link_to "SF Momentum strategija", { :controller => "strategies", "action" => "momentum"} %>
</p>
